.vs/
packages/

*.suo
*.user
_ReSharper.*

Development/

YouTubeMusicAPI/bin/
YouTubeMusicAPI/obj/

YouTubeMusicAPI.Tests/bin/
YouTubeMusicAPI.Tests/obj/

Samples/YouTubeMusicAPI.Sample.WPF/bin/
Samples/YouTubeMusicAPI.Sample.WPF/obj/