.vs/
packages/

*.suo
*.user
_ReSharper.*

Development/

YouTubeMusicAPI/bin/
YouTubeMusicAPI/obj/

YouTubeMusicAPI.Tests/bin/
YouTubeMusicAPI.Tests/obj/

YouTubeMusicAPI/bin/
YouTubeMusicAPI/obj/

YouTubeMusicAPI-recode-v3/YouTubeMusicAPI.Tests/bin/
YouTubeMusicAPI-recode-v3/YouTubeMusicAPI.Tests/obj/
